@model List<MedControl.ViewModels.TransacaoViewModel>

@{
    ViewData["Title"] = "Lista de Transações";
}

<div class="container mt-4">
    <h2>Transações</h2>

    <p>
        <a asp-action="Criar" class="btn btn-success">Nova Transação</a>
    </p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Funcionário</th>
                <th>Medicamento</th>
                <th>Quantidade</th>
                <th>Data da Transação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transacao in Model)
            {
                <tr>
                    <td>@transacao.Id</td>
                    <td>@transacao.Funcionario.Nome</td>
                    <td>@transacao.Estoque.Medicamento.Nome</td>
                    <td class="@(transacao.Quantidade >= 0 ? "positive" : "negative")">@transacao.Quantidade</td>
                    <td>@transacao.DataTransacao.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("pt-BR"))</td>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@transacao.Id" class="btn btn-info">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Voltar</a>
</div>
